---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "About Us";

const identity = {
	name: "John Doe",
	age: 30,
	country: "RDC",
	occupation: "Software Developer",
	hobbies: ["coder", "lire", "voyager"],
	website: "www.johndoe.com",
	contact: "john.doe@example.com",
}

const skills = [
	"JavaScript",
	"TypeScript",
	"Vue",
	"Node.js",
	"CSS",
	"HTML",
	"Astro",
	"Python"
];

const happy = true;
const finished = true;
const goal = 3;

const skillColor ="navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<BaseLayout pageTitle={pageTitle}>
	<p>We are a team of passionate developers.</p>
	<p>We love building amazing web applications.</p>
	<p>We are always learning and improving our skills.</p>
	<h2>About Me</h2>
	<p>{identity.name}, âgé de {identity.age} ans, vit en {identity.country} et travaille comme {identity.occupation}. Il aime {identity.hobbies.join(", ")}. Vous pouvez visiter son site web à <a href="https://{identity.website}" target="_blank">{identity.website}</a> ou le contacter à <a href="mailto:{identity.contact}">{identity.contact}</a>.</p>
	<p>Deux de mes hobbies sont {identity.hobbies[0]} et {identity.hobbies[1]}.</p>
	<h2>Skills</h2>
	<ul>
		{skills.map(skill => (
			<li class="skill">{skill}</li>
		))}
	</ul>
	<p>We are always looking for new challenges and opportunities to grow.</p>
	{happy && <p>I am happy to be learning Astro!</p>}
	{finished && <p>I finished this tutorial!</p>}
	{goal === 3 ? <p>My goal is to finish in 3 days.</p> : <p>My goal is not 3 days.</p>}
</BaseLayout>

		
